.flexWeKeda{
    display: flex;
    align-items: center;
    justify-content: space-between !important;
}
#All{
    background: #E7FAFE;
    color: black;
    font-weight: 700;

}
#CategoriesName{
    font-weight: 700;
    font-size: 27px;
}
@media(max-width:990px){
    .SHE{
        display: flex;
       align-items: center;
        justify-content: center;
        text-align: center;
    }
    #All{
        display: none;
    }
    #CategoriesName{
        font-size: 33px;
    }#WEQ img{
        margin-top: 20px;
    }

    
    
}

